#Titre
{
    text-align: center;
    margin-bottom: 100px;
}

main
{
    max-width: 1200px;
    
}

.liste
{
    list-style: none;
}

.flexContainer
{
    display: flex;
}

#Filtres>*
{
    margin-bottom: 10px;
}

#Filtres
{
    flex: 1;
    margin-right: 1px;
    max-width: 300px;
}


#Filtres>li>input
{
    padding: 0px 10px;
    accent-color: #F1895C;
    border:solid;
    border-width: 1px;
    border-radius: 10px;
    height: 25px;
    max-width: 200px;
    min-width: 10px;
    width: 80%;
}
.tagcontent
{
    display:table;
    
    height: fit-content;

    

}
.tag
{
    border: solid;
    border-color: transparent;
    border-width: 1px;
    background-color: #ec9875;
    width: fit-content; height: 20px;
    padding: 2px;
    border-radius: 40px;
    float: inline-start;
    margin: 3px 2px;
    

    

}
.tag:hover
{
    box-shadow: 2px 2px #00000051;   
    background-color:#F1895C;
    border-color: black;
}
.tag>*
{
    display: inline;
}

.tag>button
{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.tag>p
{
    cursor: default;
}

#RechercheOffre
{
    flex: 2;
}

#search
{
    display: list-item;
    border: solid;
    border-width: 1px;
    border-radius: 100px;
    max-width:400px ;
    height: 30px; width: 80%;
    margin-bottom: 20px;
    padding: 2px 30px;
}


#offres
{  
    float:inline-start;
    border: solid;
    border-width: 1px;
    border-radius: 8px; 
    width: 100%; 
    max-height: 500px;
    min-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
#offres>h2
{
    text-align: center;
    color: grey;
}


.Offre>div>button:first-child , .Offre>div
{    
    border-radius: 20px;
    background-color: #FFFFFF;
    transition: all 500ms;
}
.Offre>div>button:first-child
{
    border: solid;
    border-width: 1px;
    width: 100%; height: 100%;
}
.Offre>div
{
    width: 200px; height: 120px;
    position: relative;
    margin: auto;
}
.Offre
{
    width: 220px; height: 140px;
    float: inline-start;
    padding: 5px;
}

.Offre>div>button:hover
{
    background-color: #C5C6C6;
    cursor:pointer;
    transition: all 500ms;
}
.Offre>div:hover
{
    transition: all 500ms;
    width: 220px; height: 140px;
}

.Offre>div>button>ul>li:not(:nth-last-child(1),:nth-last-child(2))
{
    font-weight: bold;
    font-size: 20px;   
}


.Offre>div>button>ul
{
   padding: 0px 15px;
}



.StarButon
{
    visibility: hidden;
    font-size: 38px;
    color: orange;
    cursor: pointer;
}

.Offre>div>.StarButon
{
    position: relative;
    bottom: 107%; left: 82%;
}

.StarButon::before
{
    visibility:visible ;
    content: "\2727";
    opacity: 80%;

}

.StarButon:checked::before
{
    visibility:visible ;
    content: "\2726";
    opacity: 100%;   
}

#BGPopup
{
    position: fixed;
    left: 0px; top: 0px;
    background-color: black;
    width: 100%; height: 100%;
    opacity: 50%;   

}

#StagePopUp
{
    animation: show 300ms 300ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;

    opacity: 0;

    
    float: inline-start;
    border: solid;
    position: fixed;
    left: 5%; top: 25%;
    background-color: #FFFFFF;
    width: 90%; height: 50%;
    
    border-radius: 30px;
    border-width: 2px;
    padding: 10px;

    
}
#StagePopUp>div
{
    display: flex;
    width: 100%; height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#infostage
{
    flex: 2;
    padding: 50px;

}
#StagePopUp>div>#Close
{
    position: sticky;
    left: 95%; top: 10px;
    border: none;
    height: 30px; width: 30px;
    background-color: #FFFFFF;
    
}
#StagePopUp>div>#Close:hover
{
    background-color: #C5C6C6;
}

*::-webkit-scrollbar
{
    border: none;
    background-color:#eeeeee;
    border-radius: 30px;
    width: 10px;
}
*::-webkit-scrollbar-thumb
{
    border: none;
    border-radius: 30px;
    background-color: #C5C6C6;
    
}

#infoEntreprise
{   
    flex: 1;
    padding: 30px;
}

#PopUpTimeInfo,#PopUpSpotsInfo
{
    margin-top: 10px;
    flex: 1;
    background-color: #eeeeee;
    width: max-content
}

article>p
{
    background-color: #eeeeee;
    width: fit-content;

}

#PopUpSpotsInfo>*
{
    margin-left: 5px;
}


#infoEntreprise>#Postuler
{
    border: none;
    max-height: 50px;
    width: 100%; height: 100%;
    background-color: #C5C6C6;
    border-radius: 10px;
    font-size: large;
    transition: linear 200ms;
    

}
#infoEntreprise>#Postuler:hover
{
    transition: linear 200ms;
    border-radius: 20px;
    background-color:#F1895C;
    cursor: pointer;

}
#StagePopUp>div>.StarButon
{
    position: relative;
}

@keyframes show {
    100% {
      opacity: 1;
    }
  }

@media screen and (max-width: 1000px) {
    #offres
    {
        width: 480px; 
    }

    
}
@media screen and (min-width: 1000px) {
    #offres
    {
        width: 700px; 
    }
    main
    {
        margin-left: calc((100% - 1100px)/2)
    }
    
}