body
{
    height: 100%;
}
footer>ul>li
{
    margin: 10px;
    display: inline;
    
    
}

footer
{
    position: absolute;
    bottom: 0px; left: 0px;
    background-color: #516079;
    color: #C5C6C6;
    margin: 0px;
    padding: 10px;
    text-align: center;
    width: -webkit-fill-available;
}

@media(max-width:1024px) 
{
    footer>ul>li
    {
        text-align: left;
        display: list-item;
        text-align: left;
    }
}