nav
{
    background-color: grey;
    color: white;
    border: 2px black solid;
    display: flex;
    align-items: center;
}

.NavImage
{
    width: 6%;
    height: 6%;
    border-right: black solid 2px;
}

nav a
{
    color: white;
    text-decoration: none;
}

.Compte
{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 45px 50px;
    margin-left: 39px;
    
}

nav .navitem
{
    font-weight: bold;
    padding-left: 7.3%;
    padding-right: 6.08%;
    font-size: 1.5em;
    margin-right: 40px;
}