
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

.NavImage
{
    width: 6%;
    height: 6%;
}

#flex{
    display:flex; /* permet de coller les deux divs */
    flex-direction: row; /* permet de aligner les deux divs */
}

h{
    font-size: 18px;
}

nav{
    width: 100%;
    top: 0px;
    border: 2px black solid;
    background-color: grey;
    display: flex;
    align-items: center;
}

#block1{
    white-space : nowrap; 
    border: 2px black solid; 
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: grey;
}

span{
    text-align: center;
}

nav ul{
    list-style-type: none;
    font-size: 25px;
}

nav li{
    float: left; /* met le texte aligner*/
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 150px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid orange;
}


/**********************************************/


.btn{
    padding: 5px 10px;
    margin-top: 30px;
    margin-left: -10px;
    font-size: 10px;
    color: white;
    background-color: inherit;
}
.more {
      font-size: 20px;    
      border: none;
      color: white;
      padding: 2px 5px;
      background-color: inherit;
}
/* Menu appuyer sur le bouton */
    .more-menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
    }

/* Menu appuyer sur le bouton sur "a" */
    .more-menu a {
      color: black;
      padding: 5px 5px;
      text-decoration: none;
      display: block;
    }
    .navbar a:hover, .more:hover .btn {
      background-color: #555555;
      color: white;
    }
    .more:hover .more-menu {
      display: block;
    }