body{
    font-family: Arial, sans-serif;
    background: url(../../image/fond.jpg);
    background-size: cover; /* Redimensionne l'image pour couvrir toute la surface */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.floatContainer
{
    display: flow-root;


}
.Graph
{
    margin-bottom: 50px;
    width: 500px; height: 500px;
    float: left;
}
h2
{
    text-align: center;
    color: white;
}
h1
{
    color: white;
    text-align: center;
    margin: 10px 0px;
}

@media only screen and (max-width: 800px) {
    .Graph {
        width: 100%; /* Changer la largeur pour qu'elle occupe toute la largeur de l'écran */
        max-width: 100%; /* S'assurer que la largeur maximale est de 100% */
    }
}