body{
    font-family: Arial, sans-serif;
    background: url(../../image/fond.jpg);
    background-size: cover; /* Redimensionne l'image pour couvrir toute la surface */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.floatContainer
{
    display: flow-root;


}
.Graph
{
    margin-bottom: 50px;
    width: 500px; height: 500px;
    float: left;
}

h1
{
    text-align: center;
    margin: 10px 0px;
}