

h1{
    color:white;
}

body{
    font-family: Arial, sans-serif;
    background: url(../../image/fond.jpg);
    background-size: cover; /* Redimensionne l'image pour couvrir toute la surface */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

input/* modifie la zone de texte */ {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #C5C6C6;
    border-radius: 4px;
    background-color: #F5F6F6;
    color: #2E3244;
}

#search
{
    display: block;
    margin: 20px auto;
    border: solid;
    border-width: 1px;
    border-radius: 100px;
    height: 30px; width: auto;
    padding: 2px 30px;
}

.mail{
    font-size: small;
    color: black;
    margin-bottom: 0px;
    margin-left: 5px;
}

.Info{
    margin-top: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: blue;
    width: fit-content;
}

.plus{
    margin-top: 10px;
    margin-left: 50%;
    font-family: Arial;
    text-decoration: none;
    border: none;
    background-color: white;
}

.plus:hover{
    color: #F1895C;
}

.Info:hover{
    color: #F1895C;
}

.gauche{
    flex: 1;
    width: 100px;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.droite{
    flex: 1;
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.droite>a{
    margin-left: 74%;
}

.liste-deroulante2{
    overflow-x: hidden; 
    overflow-y: auto;  
    width: 50%; 
    height: 300px;
    margin: 20px auto;
    border-radius: 8px;
}


.compte{
    border-radius: 8px;
    padding: 5px;
    border: solid 1px grey;
    background-color: white;
    width: auto;
    height: auto;
    margin: 10px 10px;
}

.haut-compte{
    text-align: center;
}
.droit-compte{
    flex: 1;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bas-compte{
    display: flex;
    text-align: left;
    font-size: small;
    
}

.modif{
    width: fit-content;
    height: fit-content;
}

.compte-droit{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-left: 10px;
    padding-top: 15px;
    width: auto;
    height: auto;
    border: #000000 2px solid;
}

*::-webkit-scrollbar
{
    border: none;
    background-color:#eeeeee;
    border-radius: 30px;
    width: 10px;
}
*::-webkit-scrollbar-thumb
{
    border: none;
    border-radius: 30px;
    background-color: #C5C6C6;
}