#Titre
{
    text-align: center;
}


main
{
    
    margin: -10px;
}

.liste
{
    list-style: none;
}

#flexContainer
{
    display: flex;
    margin: 30px;
}

#Filtres>*
{
    margin-bottom: 10px;
    margin: 0px 20px 10px 10px;
}

#Filtres
{
    align-items: center;
    flex: 1;
}

#Filtres>label
{
    
    font-weight: bold;
    margin-left: 0px;    
}

#Filtres>li>input
{
    padding: 0px 10px;
    accent-color: #F1895C;
    border:solid;
    border-width: 1px;
    border-radius: 10px;
    height: 25px; width:200px;
}

#RechercheOffre
{
    flex: 2;   
}

#search
{
    display: list-item;
    border: solid;
    border-width: 1px;
    
    border-radius: 100px;
    height: 30px; width: 400px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 2px 30px;
}



#offres
{  
    float: inline-start;
    border: solid;
    border-width: 1px;
    border-radius: 8px;
    width: 710px;
}

.Offre>button
{
    
    
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    width: 200px;
    background-color: #FFFFFF;
}
.Offre
{
    padding: 5px;
    float:inline-start;

}

.Offre>button:hover
{
    background-color: #C5C6C6;
    cursor:pointer;
    
}

.Offre>button>ul>li:not(:nth-last-child(1),:nth-last-child(2))
{
    font-weight: bold;
    font-size: 20px;   
}


.Offre>button>ul
{
   padding: 0px 15px;
}

.StarButon
{
    visibility: hidden;
    position: relative;
    bottom: 28px; right: 49px;
    font-size: 38px;
    color: orange;
    cursor: pointer;
}

.StarButon::before
{
    visibility:visible ;
    content: "\2727";
    opacity: 80%;

}

.StarButon:checked::before
{
    visibility:visible ;
    content: "\2726";   
    opacity: 100%;   
}

@media(min-width: 1024px)
{
    #flexContainer
    {
        
        margin: 0% 22%;
     
    }
    
}
