#Titre
{
    text-align: center;
}
main
{
    background-color: #C5C6C6;
    margin: -10px;
}
.liste
{
    list-style: none;
}

#flexContainer
{
    display: flex;
    margin: 30px;
    
}
#Filtres>*
{
    margin-bottom: 10px;
    margin-left: 20px;
}
#Filtres
{
    
    align-items: center;
    flex: 1;
    
    position: relative;
}

#Filtres>label
{
    font-weight: bold;
    margin-left: 0px;
    
}
#Filtres>li>input
{
    border: none;
    border-radius: 8px;
    
}   

#offres
{
    
    flex: 2;
    
    border: solid;
    border-width: 1px;
    border-radius: 8px;
    
    

}

.Offre
{
    float: inline-start;
    margin: 10px;
    box-sizing: border-box;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    width: 200px;
    
    
}
.Offre>ul>li:not(:nth-last-child(1),:nth-last-child(2))
{
    font-weight: bold;
    font-size: 20px;   
}

.Offre>ul>li
{
    text-align: center;
}

.Offre>ul
{
   padding: 0px 15px;
}



.StarButon
{
    visibility: hidden;
    position: relative;
    bottom: 115px; left: 158px;
    font-size: 38px;
    color: yellow;
}
.StarButon::before
{
    visibility:visible ;
    content: "\2727";
    opacity: 80%;

}
.StarButon:checked::before
{
    visibility:visible ;
    content: "\2726";   
    opacity: 100%;   
}