AuthType Basic
AuthName "By Invitation Only"

AuthBasicProvider file
AuthUserFile "C:\Users\User\Desktop\CESI\A2\B4\porjet\WEB\private\PW"
AuthGroupFile "C:\Users\User\Desktop\CESI\A2\B4\porjet\WEB\private\groups"
Require group admin
